body {
    margin: 0;
    font-family: ABeeZee, sans-serif;
    background-color: #0B1D26;
}

.main-container {
    width: 100%;
    position: relative;
    background-color: #0B1D26;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.20);
    min-height: 100vh;

}

.main-image {
    width: 100%;
    height: auto;
    display: block;
}

.navbar {
    position: absolute;
    /* Ubah dari absolute menjadi fixed */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: transparent;
    /* Tambahkan background untuk navbar agar terlihat jelas */
}

.logo {
    width: 150px;
    /* Ubah ukuran logo untuk tampilan yang lebih kecil */
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    color: white;
    font-size: 18px;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
}

.burger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 999;
}

.content-background {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    /* Pastikan background dimulai dari atas */
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 72%);
}

.blur-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(200px);
}

.purple {
    background: #723D7F;
    width: 800px;
    height: 800px;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.brown {
    background: #7F4C3D;
    width: 700px;
    height: 700px;
    top: 1000px;
    left: 0;
}

.blue {
    background: #4851BB;
    width: 600px;
    height: 600px;
    top: 1800px;
    left: 60%;
    transform: translateX(-50%);
}

.green {
    background: #3D7F3F;
    width: 900px;
    height: 900px;
    top: 2500px;
    left: 10%;
}

.cyan {
    background: #3D6B7F;
    width: 500px;
    height: 500px;
    top: 3500px;
    right: 0;
}

.social-icons {
    position: absolute;
    left: 80px;
    top: 359px;
    color: white;
}

.content {
    position: relative;
    width: 100%;
    max-width: 1462px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
    color: white;
    height: auto;
    min-height: 100%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-block {
    display: flex;
    gap: 20px;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3.0s ease-out, transform 3.0s ease-out;
}

.content-block.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.content-block-right {
    flex-direction: row;
    margin-bottom: 50px;
}

.content-block-left {
    flex-direction: row-reverse;
    margin-bottom: 50px;
}

.text-content {
    flex: 1;
}

.text-content h1 {
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 18px;
    line-height: 1.6;
}

.text-content .tagline {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.image {
    flex: 1;
    object-fit: cover;
    border-radius: 10px;
    width: 80%;
    max-width: auto;
    display: block;
}

.footer {
    width: 100%;
    padding: 40px;
    background-color: transparent;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-text {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 300px;
    font-size: 18px;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    line-height: 32px;
}

.footer-image {
    width: 477px;
    height: 268px;
}

.footer-map {
    width: 300px;
    height: 200px;
}

.footer-logo {
    width: 150px;
    /* Ubah ukuran logo untuk tampilan yang lebih kecil */
    height: auto;
}

.footer-copyright {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 14px;
    opacity: 0.5;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    line-height: 32px;
}

.read-more {
    color: #FBD784;
    position: absolute;
    font-size: 18px;
    font-family: ABeeZee;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word
}

.our-services {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.our-services-title {
    font-size: 48px;
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 40px;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.service-rectangle {
    background: rgba(217, 217, 217, 0.5);
    border-radius: 45px;
    padding: 20px;
    width: 0 auto;
    max-width: 400px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    text-decoration: none;
    color: inherit;
}

.service-rectangle:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.rectangle-text h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.rectangle-text img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.rectangle-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* Media Queries for Responsive Design */

@media (max-width: 1200px) {

.main-image {
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: block;
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 50px 20px;
        color: white;
        height: auto;
        min-height: 100%;
    }

    .navbar {
        padding: 5px;
    }

    .logo {
        width: 80px;
    }


    .nav-item {
        font-size: 12px;
    }

    .content-background {
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 100%);
    }

    .footer-text {
        font-size: 16px;
        width: 100%;
        text-align: center;
        bottom: 10px;
    }

    .footer-logo {
        width: 100px;
    }

    .services-container {
        grid-template-columns: 1, 1fr;
        /* 1 kolom untuk layar yang sangat kecil */
        justify-content: center;
        gap: 20px;
    }

    .our-services-title {
        font-size: 28px;
        color: white;
        font-family: 'Roboto Slab', serif;
        margin-bottom: 40px;
        text-align: center;
    }

    .service-rectangle {
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 200px;
        max-width: none;
    }

    .rectangle-text h2 {
        font-size: 12px;
        margin-bottom: 10px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
    }

    .rectangle-text img {
        max-width: 40%;
        height: auto;
        margin-bottom: 10px;
    }

    .rectangle-text p {
        font-size: 12px;
        line-height: 1.6;
    }

    .image {
        width: 20%;
        flex: 1;
        object-fit: cover;
        border-radius: 10px;
        height: 50%;
    }

    .text-content {
        flex: 1;
    }

    .text-content h1 {
        font-size: 28px;
        font-family: 'Roboto Slab', serif;
        margin-bottom: 20px;
    }

    .text-content p {
        font-size: 12px;
        line-height: 1.6;
    }

    .text-content .tagline {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .content-background {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        /* Pastikan background dimulai dari atas */
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 72%);
    }

    .blur-circle {
        position: absolute;
        border-radius: 50%;
        filter: blur(200px);
    }

    .purple {
        background: #723D7F;
        width: 100%;
        max-width: 300px;
        height: 800px;
        top: 200px;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .brown {
        background: #7F4C3D;
        width: 100%;
        max-width: 200px;
        height: 700px;
        top: 1000px;
        left: 0;
    }

    .blue {
        background: #4851BB;
        width: 300px;
        max-width: 100px;
        height: 600px;
        top: 1800px;
        left: 20%;
        transform: translateX(-50%);
    }

    .green {
        background: #3D7F3F;
        width: 300px;
        max-width: 100px;
        height: 100px;
        top: 2500px;
        left: 10%;
    }

    .cyan {
        background: #3D6B7F;
        width: 300px;
        max-width: 100px;
        height: 100%;
        max-height: 50px;
        top: 3000px;
        left: 20%;
    }

   .footer {
       width: 100%;
       padding: 40px;
       background-color: transparent;
       color: white;
       position: relative;
       display: flex;
       justify-content: space-between;
       align-items: flex-start;
       flex-wrap: wrap;
   }

   .footer-text {
       position: absolute;
       bottom: 50px;
       left: 30px;
       width: 300px;
       font-size: 18px;
       font-family: 'ABeeZee', sans-serif;
       font-style: italic;
       line-height: 32px;
   }

   .footer-image {
       width: 477px;
       height: 268px;
   }

   .footer-map {
       width: 400px;
       height: 200px;
   }

   .footer-logo {
       width: 150px;
       /* Ubah ukuran logo untuk tampilan yang lebih kecil */
       height: auto;
   }

   .footer-copyright {
       position: absolute;
       bottom: 10px;
       left: 30px;
       font-size: 14px;
       opacity: 0.5;
       font-family: 'ABeeZee', sans-serif;
       font-style: italic;
       line-height: 32px;
   }
}

@media (max-width: 992px) {
    .main-image {
            width: 100%;
            max-width: 992px;
            height: auto;
            display: block;
        }
    
        .content {
            position: relative;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 50px 20px;
            color: white;
            height: auto;
            min-height: 100%;
        }
    
        .navbar {
            padding: 5px;
        }
    
        .logo {
            width: 80px;
        }
    
        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 20px;
            width: 100%;
            text-align: right;
            z-index: 999;
        }
    
        .nav-links.active {
            display: flex;
            top: 60px;
        }
    
        .burger {
            display: block;
            position: absolute;
            right: 20px;
            top: 10px;
        }
    
        .nav-item {
            font-size: 12px;
        }
    
        .content-background {
            background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 100%);
        }
    
        .footer-text {
            font-size: 16px;
            width: 100%;
            text-align: center;
            bottom: 10px;
        }
    
        .footer-logo {
            width: 100px;
        }
    
        .services-container {
            grid-template-columns: 2, 1fr;
            /* 1 kolom untuk layar yang sangat kecil */
            justify-content: center;
            gap: 50px;
        }
    
        .our-services-title {
            font-size: 28px;
            color: white;
            font-family: 'Roboto Slab', serif;
            margin-bottom: 40px;
            text-align: center;
        }
    
        .service-rectangle {
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 200px;
            max-width: none;
        }
    
        .rectangle-text h2 {
            font-size: 12px;
            margin-bottom: 10px;
            font-family: 'Roboto Slab', serif;
            text-align: center;
        }
    
        .rectangle-text img {
            max-width: 40%;
            height: auto;
            margin-bottom: 10px;
        }
    
        .rectangle-text p {
            font-size: 12px;
            line-height: 1.6;
        }
    
        .image {
            width: 20%;
            flex: 1;
            object-fit: cover;
            border-radius: 10px;
            height: 50%;
        }
    
        .text-content {
            flex: 1;
        }
    
        .text-content h1 {
            font-size: 28px;
            font-family: 'Roboto Slab', serif;
            margin-bottom: 20px;
        }
    
        .text-content p {
            font-size: 12px;
            line-height: 1.6;
        }
    
        .text-content .tagline {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    
        .content-background {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            top: 0;
            /* Pastikan background dimulai dari atas */
            background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 72%);
        }
    
        .blur-circle {
            position: absolute;
            border-radius: 50%;
            filter: blur(200px);
        }
    
        .purple {
            background: #723D7F;
            width: 100%;
            max-width: 300px;
            height: 800px;
            top: 200px;
            left: 30%;
            transform: translateX(-50%);
            z-index: 1;
        }
    
        .brown {
            background: #7F4C3D;
            width: 100%;
            max-width: 200px;
            height: 700px;
            top: 1000px;
            left: 0;
        }
    
        .blue {
            background: #4851BB;
            width: 300px;
            max-width: 100px;
            height: 600px;
            top: 1800px;
            left: 20%;
            transform: translateX(-50%);
        }
    
        .green {
            background: #3D7F3F;
            width: 300px;
            max-width: 100px;
            height: 100px;
            top: 2500px;
            left: 10%;
        }
    
        .cyan {
            background: #3D6B7F;
            width: 300px;
            max-width: 100px;
            height: 100%;
            max-height: 50px;
            top: 3000px;
            left: 20%;
        }
    
        .footer {
            flex-direction: column;
            width: 100%;
            padding: 40px;
            background-color: transparent;
            color: white;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .footer-text {
            position: static;
            width: 300px;
            font-size: 18px;
            font-family: 'ABeeZee', sans-serif;
            font-style: italic;
            line-height: 32px;
            margin-top: 20px;
            text-align: center;
        }
    
        .footer-image {
            width: 477px;
            height: 268px;
        }
    
        .footer-map {
            align-items: center;
            width: 400px;
            height: 200px;
        }
    
        .footer-logo {
            width: 100px;
            /* Ubah ukuran logo untuk tampilan yang lebih kecil */
            height: auto;
        }
    
        .footer-copyright {
            position: static;
            text-align: center;
            margin-top: 20px;
            bottom: 10px;
            left: 30px;
            font-size: 14px;
            opacity: 0.5;
            font-family: 'ABeeZee', sans-serif;
            font-style: italic;
            line-height: 32px;
        }
    
}

@media (max-width: 768px) {
    .main-image {
            width: 100%;
            max-width: 768px;
            height: auto;
            display: block;
        }
    
        .content {
            position: relative;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 50px 20px;
            color: white;
            height: auto;
            min-height: 100%;
        }
    
        .navbar {
            padding: 5px;
        }
    
        .logo {
            width: 80px;
        }
    
        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 20px;
            width: 100%;
            text-align: right;
            z-index: 999;
        }
    
        .nav-links.active {
            display: flex;
            top: 60px;
        }
    
        .burger {
            display: block;
            position: absolute;
            right: 20px;
            top: 10px;
        }
    
        .nav-item {
            font-size: 12px;
        }
    
        .content-background {
            background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 100%);
        }
    
        .footer-text {
            font-size: 16px;
            width: 100%;
            text-align: center;
            bottom: 10px;
        }
    
        .footer-logo {
            width: 100px;
        }
    
        .services-container {
            grid-template-columns: 0,1fr;
            /* 1 kolom untuk layar yang sangat kecil */
            justify-content: center;
            gap: 50px;
        }
    
        .our-services-title {
            font-size: 28px;
            color: white;
            font-family: 'Roboto Slab', serif;
            margin-bottom: 40px;
            text-align: center;
        }
    
        .service-rectangle {
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 200px;
            max-width: none;
        }
    
        .rectangle-text h2 {
            font-size: 12px;
            margin-bottom: 10px;
            font-family: 'Roboto Slab', serif;
            text-align: center;
        }
    
        .rectangle-text img {
            max-width: 40%;
            height: auto;
            margin-bottom: 10px;
        }
    
        .rectangle-text p {
            font-size: 12px;
            line-height: 1.6;
        }
    
        .image {
            width: 20%;
            flex: 1;
            object-fit: cover;
            border-radius: 10px;
            height: 50%;
        }
    
        .text-content {
            flex: 1;
        }
    
        .text-content h1 {
            font-size: 28px;
            font-family: 'Roboto Slab', serif;
            margin-bottom: 20px;
        }
    
        .text-content p {
            font-size: 12px;
            line-height: 1.6;
        }
    
        .text-content .tagline {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    
        .content-background {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            top: 0;
            /* Pastikan background dimulai dari atas */
            background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 72%);
        }
    
        .blur-circle {
            position: absolute;
            border-radius: 50%;
            filter: blur(200px);
        }
    
        .purple {
            background: #723D7F;
            width: 100%;
            max-width: 300px;
            height: 800px;
            top: 200px;
            left: 30%;
            transform: translateX(-50%);
            z-index: 1;
        }
    
        .brown {
            background: #7F4C3D;
            width: 100%;
            max-width: 200px;
            height: 700px;
            top: 1000px;
            left: 0;
        }
    
        .blue {
            background: #4851BB;
            width: 300px;
            max-width: 100px;
            height: 600px;
            top: 1800px;
            left: 20%;
            transform: translateX(-50%);
        }
    
        .green {
            background: #3D7F3F;
            width: 300px;
            max-width: 100px;
            height: 100px;
            top: 2500px;
            left: 10%;
        }
    
        .cyan {
            background: #3D6B7F;
            width: 300px;
            max-width: 100px;
            height: 100%;
            max-height: 50px;
            top: 3000px;
            left: 20%;
        }
    
        .footer {
            flex-direction: column;
            width: 100%;
            padding: 40px;
            background-color: transparent;
            color: white;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .footer-text {
            position: static;
            width: 300px;
            font-size: 18px;
            font-family: 'ABeeZee', sans-serif;
            font-style: italic;
            line-height: 32px;
            margin-top: 20px;
            text-align: center;
        }
    
        .footer-image {
            width: 477px;
            height: 268px;
        }
    
        .footer-map {
            align-items: center;
            width: 300px;
            height: 200px;
        }
    
        .footer-logo {
            width: 100px;
            /* Ubah ukuran logo untuk tampilan yang lebih kecil */
            height: auto;
        }
    
        .footer-copyright {
            position: static;
            text-align: center;
            margin-top: 20px;
            bottom: 10px;
            left: 30px;
            font-size: 14px;
            opacity: 0.5;
            font-family: 'ABeeZee', sans-serif;
            font-style: italic;
            line-height: 32px;
        }
}

@media (max-width: 576px) {
    .main-image {
            width: 100%;
            max-width: 576px;
            height: auto;
            display: block;
        }
    .content {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 50px 20px;
            color: white;
            height: auto;
            min-height: 100%;
            z-index: 1;
        }
    .navbar {
        padding: 5px;
    }

    .logo {
        width: 80px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 20px;
        width: 100%;
        text-align: right;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
        top: 60px;
    }

    .burger {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .nav-item {
        font-size: 12px;
    }

    .content-background {
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 100%);
    }

    .footer-text {
        font-size: 16px;
        width: 100%;
        text-align: center;
        bottom: 10px;
    }

    .footer-logo {
        width: 100px;
    }

    .services-container {
        grid-template-columns: 1fr;
        /* 1 kolom untuk layar yang sangat kecil */
        justify-content: center;
        gap: 20px;
    }
    .our-services-title {
        font-size: 28px;
        color: white;
        font-family: 'Roboto Slab', serif;
        margin-bottom: 40px;
        text-align: center;
    }

    .service-rectangle {
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: none;
    }
    .rectangle-text h2 {
        font-size: 12px;
        margin-bottom: 10px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
    }

    .rectangle-text img {
        max-width: 40%;
        height: auto;
        margin-bottom: 10px;
    }

    .rectangle-text p {
        font-size: 12px;
        line-height: 1.6;
    }
    .image {
        width: 40%;
        flex: 1;
        object-fit: cover;
        border-radius: 10px;
        height: 50%;
    }
    .text-content {
        flex: 1;
    }

    .text-content h1 {
        font-size: 28px;
        font-family: 'Roboto Slab', serif;
        margin-bottom: 20px;
    }

    .text-content p {
        font-size: 12px;
        line-height: 1.6;
    }

    .text-content .tagline {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }
.content-background {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    /* Pastikan background dimulai dari atas */
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 72%);
}

.blur-circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(200px);
}

.purple {
    background: #723D7F;
    width: 100%;
    max-width: 300px;
    height: 800px;
    top: 200px;
    left: 30%;
    transform: translateX(-50%);
}

.brown {
    background: #7F4C3D;
    width: 100%;
    max-width: 200px;
    height: 700px;
    top: 1000px;
    left: 0;
}

.blue {
    background: #4851BB;
    width: 300px;
    max-width: 100px;
    height: 600px;
    top: 1800px;
    left: 20%;
    transform: translateX(-50%);
}

.green {
    background: #3D7F3F;
    width: 300px;
    max-width: 100px;
    height: 100px;
    top: 2500px;
    left: 10%;
}

.cyan {
    background: #3D6B7F;
    width: 300px;
    max-width: 100px;
    height: 100%;
    max-height: 50px;
    top: 3000px;
    left: 20%;
}
.footer {
    flex-direction: column;
    width: 100%;
    padding: 40px;
    background-color: transparent;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    position:static;
    width: 300px;
    font-size: 18px;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    line-height: 32px;
    margin-top: 20px;
    text-align: center;
}

.footer-image {
    width: 477px;
    height: 268px;
}

.footer-map {
    align-items: center;
    width: 300px;
    height: 200px;
}

.footer-logo {
    width: 100px;
    /* Ubah ukuran logo untuk tampilan yang lebih kecil */
    height: auto;
}

.footer-copyright {
    position: static;
    text-align: center;
    margin-top: 20px;
    bottom: 10px;
    left: 30px;
    font-size: 14px;
    opacity: 0.5;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    line-height: 32px;
}
}